typeattribute logpersist coredomain;

# android debug log storage in logpersist domains (eng and userdebug only)

r_dir_file(logpersist, cgroup)
r_dir_file(logpersist, cgroup_v2)

allow logpersist misc_logd_file:file create_file_perms;
allow logpersist misc_logd_file:dir rw_dir_perms;

allow logpersist self:global_capability_class_set { sys_nice dac_read_search dac_override };
allow logpersist pstorefs:dir search;
allow logpersist pstorefs:file r_file_perms;


allow logpersist storage_file:dir { create_dir_perms search };
allow logpersist storage_file:lnk_file create_file_perms;
allow logpersist mnt_user_file:dir { create_dir_perms search };
allow logpersist mnt_user_file:lnk_file create_file_perms;

allow logpersist media_rw_data_file:dir { create_dir_perms search };
allow logpersist media_rw_data_file:file create_file_perms;

control_logd(logpersist)
unix_socket_connect(logpersist, logdr, logd)
get_prop(logpersist, logd_prop)
read_runtime_log_tags(logpersist)

allow logpersist { sdcard_type fuse }:dir { create_dir_perms mounton search };
allow logpersist { sdcard_type fuse }:file { create_file_perms };


